body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
#container {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
section {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
#intro,
#win,
#lose {
  background-image: url(../img/frame.png);
}
#start-question,
#question,
#answer {
  background-image: url(../img/frameQuestions.png);
}
.inactiveSection {
  display: none;
}
.activeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#intro h1 {
  color: #ffff;
  font-size: 3.5rem;
  padding-bottom: 2rem;
  width: 60rem;
  height: 8rem;
  margin: 0 auto;
}
.btnIntro {
  width: 18rem;
  height: 5rem;
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  position: relative;
  top: 0rem;
}

#start-question h1 {
  color: #fff;
  font-size: 3rem;
  padding-top: 3vh;
  width: 50vw;
  font-weight: lighter;
  margin: 0 auto;
}
.btnQuestionNumber {
  width: 40rem;
  height: 8rem;
  margin-top: 3rem;
  font-size: 2.5rem;
}
.btnQuestionPrize {
  width: 25rem;
  height: 6rem;
  margin-top: 2rem;
  font-size: 2rem;
}
.btnQuestionPlay {
  width: 20rem;
  height: 5rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.btn {
  background: #a276ba;
  border: 4rem #a53bd3;
  border-radius: 2rem;
  color: #fff;
}
.btnGame {
  background: #6c9df5;
  border: 10rem #8fc5f9;
  border-radius: 2rem;
  color: #fff;
}
.btnStartQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  clear: both;
  position: relative;
  width: 50vw;
  margin: 0 auto;
}
#question h1,
#answer h1 {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 3rem;
  padding-top: 2vh;
  width: 50vw;
  font-weight: lighter;
  margin: 0 auto;
}
.btnQuestion {
  display: grid;
  grid-template-columns: repeat(2, minmax(15rem, 20rem));
  grid-template-rows: repeat(2, minmax(6rem, 9rem));
  grid-gap: 2rem;
  width: 40rem;
  height: 14rem;
  margin: 2vh auto;
  padding-top: 2vh;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;
}
.btnQuestionTitle {
  width: 40rem;
  height: 8rem;
  margin-top: 3vh;
  font-size: 1.8rem;
}
.btnOption {
  font-size: 1.2rem;
  text-align: left;
  padding-left: 1.5rem;
}
.spanOption {
  font-size: 1.5rem;
  text-align: left;
  padding-left: 1.5rem;
}
.btnOption .btnSpanLetter {
  font-weight: bold;
  padding-right: 0.5rem;
}
.btnQuestionAnswer {
  background: #f9a04a;
  color: #000;
}
.btnQuestionAnswerOk {
  background: #a0fa47;
  color: #000;
}
.btnQuestionAnswerWrong {
  background: #ff5f56;
  color: #000;
}
#win h1,
#lose h1 {
  color: #fff;
  font-size: 5.5rem;
  padding-top: 4rem;
  width: 50rem;
  margin: 0 auto;
}
.btnWin {
  background: #e3b15a;
  width: 20rem;
  height: 5rem;
  padding: 1rem 0;
  font-size: 2rem;
  color: #000;
  font-weight: bold;
  position: relative;
  top: 2.5rem;
}
.btnPlayAgain {
  width: 15rem;
  height: 6vh;
  margin-top: 3rem;
  font-size: 1.5rem;
  padding: 2vh;
  position: relative;
  top: 0.5vh;
}

#lose .btnPlayAgain {
  position: relative;
  top: 0rem;
}

@media (max-width: 768px) {
  #intro h1 {
    width: 30rem;
    text-align: center;
    font-size: 2rem;
    justify-content: center;
    padding-bottom: 0;
  }
  .btnIntro {
    font-size: 1.2rem;
    margin: 2rem;
    top: 2rem;
  }
  #start-question h1 {
    font-size: 2rem;
  }
  .btnQuestionNumber {
    width: 30rem;
    font-size: 1.8rem;
  }
  .btnQuestionPrize {
    font-size: 1.5rem;
  }
  .btnQuestionPlay {
    font-size: 1.2rem;
  }
  #question h1,
  #answer h1 {
    font-size: 2rem;
  }
  .btnQuestionTitle {
    width: 30rem;
    font-size: 1rem;
  }
  .btnQuestion{
    width: 30rem;
  }
  .btnOption {
    font-size: 0.8rem;
  }
  .spanOption {
    font-size: 1rem;
  }

  #win h1,
  #lose h1 {
    font-size: 2.8rem;
    width: 30rem;
  }
  .btnWin {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  .btnPlayAgain {
    font-size: 0.8rem;
  }
}
@media (max-width: 425px) {
  #intro h1 {
    width: 20rem;
    font-size: 1.5rem;
  }
  .btnIntro {
    font-size: 0.8rem;
    width: 15rem;
    top: -0.5rem;
  }
  #start-question h1 {
    font-size: 1.2rem;
  }
  .btnQuestionNumber {
    font-size: 1rem;
    width: 20rem;
    height: 8rem;
  }
  .btnQuestionPrize {
    font-size: 0.8rem;
    width: 15rem;
    height: 5rem;
  }
  .btnQuestionPlay {
    font-size: 0.8rem;
    width: 12rem;
    height: 5rem;
  }
  #question h1,
  #answer h1 {
    font-size: 1.2rem;
  }
  .btnQuestionTitle {
    font-size: 0.8rem;
    width: 20rem;
    height: 6rem;
  }
  .btnOption {
    font-size: 0.8rem;
    height: 8rem;
  }
  .spanOption {
    font-size: 0.8rem;
  }

  .btnQuestion {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    width: 20rem;
    height: 12rem;
  }
  .btnQuestionAnswer {
    height: 3rem;
  }
  .btnQuestionPlay {
    width: 12rem;
    height: 3rem;
  }
  #win h1,
  #lose h1 {
    width: 20rem;
    font-size: 1.5rem;
  }
  .btnWin {
    font-size: 1rem;
    width: 14rem;
    height: 4rem;
    margin-top: 5rem;
  }
  .btnPlayAgain {
    font-size: 0.8rem;
    width: 12rem;
    height: 3rem;
  }
}
